:root {
    --background-color: #fbffff;
    --element-background-color: #42a4b0;
    --inner-element-background-color: #ffffff;
    --bar-background-color: #175084;
    --text-color: #11364b;
    --highlight-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    height: 100%;
}

footer {
    display: none;
    background-color: var(--bar-background-color);
    padding: 0.5rem;
    text-align: right;
    font-size: 0.75rem;
    color: var(--highlight-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: #ffffff;
}

header {
    text-align: left;
    background-color: var(--bar-background-color);
    padding: 0.7rem;
    padding-left: 0;
}

header .title {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 2rem;
    color: var(--highlight-color);
}

main {
    padding: 1rem;
}

.container {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.grid-box {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    max-height: 100%;
}

.main-content {
    opacity: 0.8;
    background-image: radial-gradient(#ccc 0.5px, #175084 0.5px);
    background-size: 10px 10px;
    height: 80vh;
    border-radius: 10px;
    padding: 20px;
    display: flex;
}

.pad {
    display: flex;
    flex-direction: column;
    justify-content: center;        
}


.side-content {
    opacity: 0.8;
    background-image: radial-gradient(#ccc 0.5px, #11364b 0.5px);
    background-size: 10px 10px;
    height: 80vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.dropdown-container select,
.dropdown-container input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    z-index: 10;
}

.dropdown-container button {
    width: 100%;
    height: 40px;
    font-size: 16px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.disclaimer {
    color: gray;
    align-self: center;
    padding: 10px;
}

.result-page {}

.section-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.section-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-height: fit-content;
}

.section-3 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.table-box {
    background-color: var(--background-color);
    overflow-x: auto;
    overflow-y: auto;
    height: 28rem;
    position: relative;
    padding-top: 0;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

table td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    margin: 0;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: var(--bar-background-color);
    color: var(--highlight-color);
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 0;
}

.plot-box {
    background-color: var(--background-color);
    overflow-x: auto;
    overflow-y: auto;
    height: 28rem;
    position: relative;
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
}


.plot-box>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.pie-box {
    background-color: var(--background-color);
    overflow-x: auto;
    overflow-y: auto;
    height: 24rem;
    position: relative;
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
}

.bar-box {
    background-color: var(--background-color);
    overflow-x: auto;
    overflow-y: auto;
    height: 28rem;
    position: relative;
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
}

.Pie {
    background-color: var(--background-color);
    border-radius: 0.25rem;
    overflow-x: auto;
    overflow-y: auto;
    padding: 0.5rem;
}

.Bar {
    background-color: var(--background-color);
    border-radius: 0.25rem;
    overflow-x: auto;
    overflow-y: auto;
    padding: 0.5rem;
}


.topbar.final {
    margin-top: auto;
}

.topbar {
    background-color: #175084;
    color: white;
    text-align: center;
    border-radius: 10px;
    word-wrap: break-word;
    padding: 10px;
}

.inside-box {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}

.header {
    text-align: center;
    font-weight: 400;
    padding: 10px;
}

ul {
    padding-left: 2rem;
    padding-right: 2rem;
}

.line {
    width: 80%;
    background-color: var(--bar-background-color);
    height: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.input-tag {
    color: white;
    align-content: center;
}

.info-box {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    overflow-x: auto;
    overflow-y: auto;
    height: 24rem;
    display: flex;
    position: relative;
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.topic {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 15px;
    border-bottom: 2px solid #36a2eb;
    display: inline-block;
    padding-bottom: 2px;
}

.info {
    color: #fff !important;

}

.topicUL {
    list-style: none;
    padding-left: 20px;
}

.topiclist {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    font-size: 18px;
}