:root {
    /* Color Variables */
    --background-color: #E9F1F2; /* Main background color */
    --element-background-color: #BFD6D9; /* Background color for elements */
    --inner-element-background-color: #ffffff; /* Background color for inner elements */
    --bar-background-color: #9FBCBF; /* Background color for top and bottom bars */
    --text-color: #313E40; /* Primary text color */
    --highlight-color: #666666; /* Highlight or alternate text color */
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: var(--bar-background-color);
    padding: 0.5rem;
    text-align: right;
    font-size: 0.75rem;
    color: var(--text-color);
}

header {
    text-align: left;
    background-color: var(--bar-background-color);
    padding: 0.5rem;
    color: var(--text-color);
}

header .title {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 3.5rem;
}

main {
    padding: 2rem;
    flex: 1;
}

.container {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    border-radius: 0.2rem;
    display: grid;
    gap: 0.5rem;
}

.dropdown-container {
    display: grid;
    grid-template-columns: 33rem 25rem 1fr; 
    gap: 1rem;
}

.dropdown-container select {
    padding: 0.5rem;
    border: 1px solid var(--bar-background-color);
    border-radius: 0.25rem;
    background-color: var(--inner-element-background-color);
}
.button-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.button-container button {
    padding: 0.5rem 3rem;
    font-size: 1rem;
    border: 1px solid var(--bar-background-color);
    border-radius: 2rem;
    background-color: var(--inner-element-background-color);
    color: var(--text-color);
}

.content-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    
}

.main-content{
    background-color: var(--inner-element-background-color);
    height: 24rem;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.side-content {
    background-color: var(--inner-element-background-color);
    height: 24rem;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inner-container {
    background-color: #e5e7eb;
    border-radius: 0.25rem;
    overflow-x: auto;
    overflow-y: auto;
}

.Pie{
    background-color: #e5e7eb;
    border-radius: 0.25rem;
    overflow-x: auto;
    overflow-y: auto;
    padding-left: 0.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th{
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
